<div class="app-main__inner">
  <div class="table-title">
    <div class="row">
      <div class="col-sm-6">
        <h2><b>Active Challenges</b></h2>
      </div>
    </div>
  </div>

  <table class="table">
    <thead class="thead-dark">
      <tr>
        <th>Sl.No</th>
        <th>Name</th>
        <th>Description</th>
      </tr>
    </thead>
  </table>
</div>
