<div class="app-main__inner">
  <div class="table-title">
    <div class="row">
      <div class="col-sm-6">
        <h2><b>Accepted Challenges</b></h2>
      </div>
    </div>
  </div>

  <table class="table">
    <thead class="thead-dark">
      <tr>
        <th>Sl.No</th>
        <th>Name</th>
        <th>Description</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <td><span>1</span></td>

      <td><span>Run 2 Miles </span></td>

      <td><span>run 2 miles a day throughout the week</span></td>
      <td><button id="button">Leave</button></td>

      <tr>
        <td><span>2</span></td>

        <td><span>Only veg </span></td>

        <td><span>eat only veg</span></td>
        <td><button id="button">Leave</button></td>
      </tr>
    </tbody>
  </table>
</div>
