<div class="app-main__inner">
    <div class="table-title">
      <div class="row">
        <div class="col-sm-6">
          <h2><b>Available Challenges</b></h2>
        </div>
      </div>
    </div>
  
    <table class="table">
      <thead class="thead-dark">
        <tr>
          <th>Sl.No</th>
          <th>Name</th>
          <th>Description</th>
          <th>Accept</th>
       
      </thead>
      <tbody>    
        <td> <span>1</span></td>
        
        <td> <span>Run 2 Miles </span></td>
        
        <td> <span>run 2 miles a day throughout the week</span></td>
        
        <td><button id="button">Accept</button> </li></td>
        
    <tr>
        <td> <span>2</span></td>
        
        <td> <span>Only veg </span></td>
        
        <td> <span>eat only veg</span></td>
        
        <td><button id="button">Accept</button> </li></td>
        
    </tr>

    <tr>
        <td> <span>3</span></td>
        
        <td> <span>2 Gallons water </span></td>
        
        <td> <span>drink 2 gallons of water everyday</span></td>
        
        <td><button id="button">Accept</button> </li></td>
        
    </tr>

    <tr>
        <td> <span>4</span></td>
       
        <td> <span>Challenge 4 </span></td>
        
        <td> <span>description for challenege 4</span></td>
       
        <td><button id="button">Accept</button> </li></td>
        
    </tr>

    </tbody>

     
</tr>
    </table>
  </div>

  <style>
    button{
    background-color:#03ac13;
    text-decoration-color: black;
    border-radius: 5px; 
    cursor: pointer; 
    padding: 0 20px; 
    font-size: 15px;
    margin-top: 5px;
    border-spacing: 0;
    border-color: #03ac13;
 }
  </style>
  