<div class="app-main__inner">
  <div class="table-title">
    <div class="row">
      <div class="col-sm-6">
        <h2><b>Available Challenges</b></h2>
      </div>
    </div>
  </div>
  <table class="table table-hover ">
    <thead class="thead-dark">
      <tr>
        <th scope="col">#</th>
        <th scope="col">Name</th>
        <th scope="col">Type</td>
        <th scope="col">Description</th>
        <th scope="col">Actions</th>
      </tr>
    </thead>
    <tbody>
      <% for (var i=0; i < result.length;i++) { %>
      <tr>
        <th scope="row"><%=  i+1 %></th>
        <td><%= result[i].challengeType %></td>
        <td><%= result[i].challengeName%> </td>
        <td><%= result[i].challengeDescription%></td>
        <td><button class="btn btn-primary"><i class="fa fa-check"></i> Accept</button></td>
      </tr>
      <% } %>
    </tbody>
  </table>
</div>