<div class="app-main__inner">
    <div class="table-title">
        <div class="row">
          <div class="col-sm-6">
            <h2><b>Completed Challenges</b></h2>
          </div>
        </div>
      </div>
    <br>
    <!-- <input type="text" id="myInput" onkeyup="myFunction()" placeholder="Search for users"> -->
    <!-- <h3 style="text-align: center;">User Management</h3> -->
    <div class="table-responsive">
        <table class="table">
            <thead class="thead-dark">
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Challenge Name</th>
                    <th scope="col">Group Challenge</th>
                    <th scope="col">Personal Challenge</th>
                    <th scope="col">Group Size</th>
                    <th scope="col">Total Time</th>
                    <th scope="col">Achieved</th>
                    <th scope="col">Goal</th>
                </tr>
            </thead>
            <tbody>
               
                    <tr>
                        <th scope="row">  </th>
                        <td> Step Count </td>
                        <td> Yes </td>
                        <td> No </td>
                        <td> 8 </td>
                        <td> 3 days </td>
                        <td> 700 Steps </td>
                        <td> 1000 Steps </td>
                    </tr>

                    <tr>
                        <th scope="row">  </th>
                        <td> 4M Run </td>
                        <td> Yes </td>
                        <td> No </td>
                        <td> 8 </td>
                        <td> 1:30 mins </td>
                        <td> 3 miles  </td>
                        <td> 4 miles </td>
                    </tr>

                    <tr>
                        <th scope="row">  </th>
                        <td> Burpees Time </td>
                        <td> No </td>
                        <td> Yes </td>
                        <td> 1 </td>
                        <td> 20 mins </td>
                        <td> 300 </td>
                        <td> 300 </td>
                    </tr>

                    <tr>
                        <th scope="row">  </th>
                        <td> Meditation </td>
                        <td> No </td>
                        <td> Yes </td>
                        <td> 1 </td>
                        <td> 15 mins </td>
                        <td> 15 mins </td>
                        <td> 15nmins </td>
                    </tr>



            </tbody>
        </table>
    </div>
</div>	
