<div class="app-main__inner">
    <div class="table-title">
        <div class="row">
          <div class="col-sm-6">
            <h2><b>Completed Challenges</b></h2>
          </div>
        </div>
      </div>
    <br>
    <!-- <input type="text" id="myInput" onkeyup="myFunction()" placeholder="Search for users"> -->
    <!-- <h3 style="text-align: center;">User Management</h3> -->
    <div class="table-responsive">
        <h6 style="color:rgb(98, 0, 255);">Challenge Name: Step Count</h6> 
        <table class="table">
            <thead class="thead-dark">
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Group Challenge</th>
                    <th scope="col">Personal Challenge</th>
                    <th scope="col">Group Size</th>
                    <th scope="col">Total(days)</th>
                    <th scope="col">Achieved</th>
                    <th scope="col">Goal</th>
                    <th scope="col">Units</th>
                </tr>
            </thead>
            <tbody>
               
                    <tr>
                        <th scope="row">  </th>
                        <td> Yes </td>
                        <td> No </td>
                        <td> 8 </td>
                        <td> 3 days </td>
                        <td> 700 </td>
                        <td> 1000 </td>
                        <td> Steps </td>
                    </tr>

                    <tr>
                        <th scope="row">  </th>
                        <td> Yes </td>
                        <td> No </td>
                        <td> 5 </td>
                        <td> 1 days </td>
                        <td> 600 </td>
                        <td> 1000 </td>
                        <td> Steps </td>
                    </tr>

                    <tr>
                        <th scope="row">  </th>
                        <td> Yes </td>
                        <td> No </td>
                        <td> 5 </td>
                        <td> 2 days </td>
                        <td> 950 </td>
                        <td> 1000 </td>
                        <td> Steps </td>
                    </tr>

            </tbody>
        </table>
    </div>

    <div class="table-responsive">
        <h6 style="color:rgb(98, 0, 255);">Challenge Name: Water Consumed</h6>
        <table class="table">
            <thead class="thead-dark">
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Group Challenge</th>
                    <th scope="col">Personal Challenge</th>
                    <th scope="col">Group Size</th>
                    <th scope="col">Time(days)</th>
                    <th scope="col">Achieved</th>
                    <th scope="col">Goal</th>
                    <th scope="col">Units</th>
                </tr>
            </thead>
            <tbody>
               
                    <tr>
                        <th scope="row">  </th>
                        <td> No </td>
                        <td> Yes </td>
                        <td> 1 </td>
                        <td> 1 </td>
                        <td> 6 </td>
                        <td> 10 </td>
                        <td> Ounces </td>
                    </tr>

                    <tr>
                        <th scope="row">  </th>
                        <td> No </td>
                        <td> Yes </td>
                        <td> 1 </td>
                        <td> 1 </td>
                        <td> 7 </td>
                        <td> 8 </td>
                        <td> Ounces </td>
                    </tr>

                    <tr>
                        <th scope="row">  </th>
                        <td> No </td>
                        <td> Yes </td>
                        <td> 1 </td>
                        <td> 1 </td>
                        <td> 10 </td>
                        <td> 12 </td>
                        <td> Ounces </td>
                    </tr>

            </tbody>
        </table>
    </div>

    <div class="table-responsive">
        <h6 style="color:rgb(98, 0, 255);">Challenge Name: Sleep Hours</h6>
        <table class="table">
            <thead class="thead-dark">
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Group Challenge</th>
                    <th scope="col">Personal Challenge</th>
                    <th scope="col">Group Size</th>
                    <th scope="col">Time(days)</th>
                    <th scope="col">Achieved</th>
                    <th scope="col">Goal</th>
                    <th scope="col">Units</th>
                </tr>
            </thead>
            <tbody>
               
                    <tr>
                        <th scope="row">  </th>
                        <td> No </td>
                        <td> Yes </td>
                        <td> 1 </td>
                        <td> 1 </td>
                        <td> 6 </td>
                        <td> 10 </td>
                        <td> Hours </td>
                    </tr>

                    <tr>
                        <th scope="row">  </th>
                        <td> No </td>
                        <td> Yes </td>
                        <td> 1 </td>
                        <td> 1 </td>
                        <td> 7 </td>
                        <td> 8 </td>
                        <td> Hours </td>
                    </tr>

                    <tr>
                        <th scope="row">  </th>
                        <td> No </td>
                        <td> Yes </td>
                        <td> 1 </td>
                        <td> 1 </td>
                        <td> 10 </td>
                        <td> 10 </td>
                        <td> Hours </td>
                    </tr>

            </tbody>
        </table>
    </div>

    <div class="table-responsive">
        <h6 style="color:rgb(98, 0, 255)";>Challenge Name: Me Time</h6>
        <table class="table">
            <thead class="thead-dark">
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Challenge Name</th>
                    <th scope="col">Group Challenge</th>
                    <th scope="col">Personal Challenge</th>
                    <th scope="col">Group Size</th>
                    <th scope="col">Time(days)</th>
                    <th scope="col">Achieved</th>
                    <th scope="col">Goal</th>
                    <th scope="col">Units</th>
                </tr>
            </thead>
            <tbody>
               
                    <tr>
                        <th scope="row">  </th>
                        <td> Meditation </td>
                        <td> No </td>
                        <td> Yes </td>
                        <td> 1 </td>
                        <td> 1 </td>
                        <td> 6 </td>
                        <td> 10 </td>
                        <td> Minutes </td>
                    </tr>

                    <tr>
                        <th scope="row">  </th>
                        <td> Music </td>
                        <td> No </td>
                        <td> Yes </td>
                        <td> 1 </td>
                        <td> 1 </td>
                        <td> 30 </td>
                        <td> 30 </td>
                        <td> Minutes </td>
                    </tr>

                    <tr>
                        <th scope="row">  </th>
                        <td> **** </td>
                        <td> No </td>
                        <td> Yes </td>
                        <td> 1 </td>
                        <td> 1 </td>
                        <td> 6 </td>
                        <td> 10 </td>
                        <td> Minutes </td>
                    </tr>

            </tbody>
        </table>
    </div>


    <div class="table-responsive">
        <h6 style="color:rgb(98, 0, 255)";>Challenge Name: Fruits Consumed</h6>
        <table class="table">
            <thead class="thead-dark">
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Group Challenge</th>
                    <th scope="col">Personal Challenge</th>
                    <th scope="col">Group Size</th>
                    <th scope="col">Time(days)</th>
                    <th scope="col">Achieved</th>
                    <th scope="col">Goal</th>
                    <th scope="col">Units</th>
                </tr>
            </thead>
            <tbody>
               
                    <tr>
                        <th scope="row">  </th>
                        <td> No </td>
                        <td> Yes </td>
                        <td> 1 </td>
                        <td> 1 </td>
                        <td> 100 </td>
                        <td> 150 </td>
                        <td> Grams </td>
                    </tr>

                    <tr>
                        <th scope="row">  </th>
                        <td> No </td>
                        <td> Yes </td>
                        <td> 1 </td>
                        <td> 1 </td>
                        <td> 80 </td>
                        <td> 120 </td>
                        <td> Grams </td>
                    </tr>

                    <tr>
                        <th scope="row">  </th>
                        <td> Yes </td>
                        <td> No </td>
                        <td> 3 </td>
                        <td> 1 </td>
                        <td> 100 </td>
                        <td> 100 </td>
                        <td> Grams </td>
                    </tr>
            </tbody>
        </table>
    </div>


    <div class="table-responsive">
        <h6 style="color:rgb(98, 0, 255);">Challenge Name: Vegetables Consumed</h6>
        <table class="table">
            <thead class="thead-dark">
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Group Challenge</th>
                    <th scope="col">Personal Challenge</th>
                    <th scope="col">Group Size</th>
                    <th scope="col">Time(days)</th>
                    <th scope="col">Achieved</th>
                    <th scope="col">Goal</th>
                    <th scope="col">Units</th>
                </tr>
            </thead>
            <tbody>
               
                <tr>
                    <th scope="row">  </th>
                    <td> Yes </td>
                    <td> No </td>
                    <td> 3 </td>
                    <td> 1 </td>
                    <td> 100 </td>
                    <td> 100 </td>
                    <td> Grams </td>
                </tr>

                <tr>
                    <th scope="row">  </th>
                    <td> No </td>
                    <td> Yes </td>
                    <td> 1 </td>
                    <td> 1 </td>
                    <td> 80 </td>
                    <td> 120 </td>
                    <td> Grams </td>
                </tr>

                <tr>
                    <th scope="row">  </th>
                    <td> Yes </td>
                    <td> No </td>
                    <td> 3 </td>
                    <td> 1 </td>
                    <td> 100 </td>
                    <td> 100 </td>
                    <td> Grams </td>
                </tr>

                    
               
            </tbody>
        </table>
    </div>
</div>	
