<div class="wrap">
  <div class="search">
     <input type="text" class="searchTerm" placeholder="Search Information">
     <button type="submit" class="searchButton">
     <i class="fa fa-search"></i>
    </button>
  </div>
</div>
<div></div><br><br>
<b>Push Notifications</b><br><br>					
<!--Rounded switch -->
<label class="switch">
    <input type="checkbox">
    <span class="slider round"></span>
  </label>
<p>App permisions</p>
  <!--Rounded switch -->
<label class="switch">
    <input type="checkbox">
    <span class="slider round"></span>
  </label>
  <p>Email</p>
  <!--Rounded switch -->
<label class="switch">
    <input type="checkbox">
    <span class="slider round"></span>
  </label>
  <p>SMS</p>
  <!--Rounded switch -->
<label class="switch">
    <input type="checkbox">
    <span class="slider round"></span>
  </label>
  <br>