<div class="app-main__inner">

    <div class="table-title">
        <div class="row">
            <div class="col-sm-6">
                <h2><b>Announcements</b></h2>
            </div>
        </div>
    </div>
    <div class="table-responsive">

        <div class="table-body">
            <% for (var i=0; i < result.length;i++) { %>
                <div class="toast-header">
                    <svg class=" rounded mr-2" width="10" height="10" xmlns="http://www.w3.org/2000/svg"
                        preserveAspectRatio="xMidYMid slice" focusable="false" role="img">
                        <rect fill="#007aff" width="100%" height="100%" />
                    </svg>
                    <strong class="mr-auto">
                        <%= result[i].title%>
                    </strong>
                    <form action="/dismissAnnouncement/<%= result[i].messageId %>" method="post">
                        <input type="submit" id="PopoverCustomT-1" value="Dismiss"
                            class="btn btn-sm btn-md btn-danger"></input>
                    </form>
                </div>
                <div class="toast-body">
                    <strong>
                        <%= result[i].message%>
                    </strong>
                    <p class="text-secondary pull-right">
                        <%= result[i].msgDate%>
                    </p>
                </div>
                <br>
                <% } %>
        </div>
    </div>

</div>