<div class="app-main__inner">
  <h2 class="d-flex justify-content-center py-3">Announcements</h2>
  <section>
    <div class="container app-container-wrapper">
      <div class="row justify-content-center">
        <div class="col-lg-4">
          <div class="wrap">
            <div class="search">
              <input type="text" class="searchTerm" placeholder="Search Information">
              <button type="submit" class="searchButton">
                <i class="fa fa-search"></i>
              </button>
            </div>
          </div>
          <div></div><br><br>
          <b>Push Announcements: </b>					
            <!--Rounded switch -->
            <label class="switch">
                <input type="checkbox">
                <span class="slider round"></span>
              </label></b><br><br>
              <p>Water:               
                <!--Rounded switch -->
              <label class="switch">
                  <input type="checkbox">
                  <span class="slider round"></span>
                </label></p>
                <p>Workout:               
                  <!--Rounded switch -->
                <label class="switch">
                    <input type="checkbox">
                    <span class="slider round"></span>
                  </label></p>
              <b>App permisions:</b>
              <!--Rounded switch -->
            <label class="switch">
                <input type="checkbox">
                <span class="slider round"></span>
              </label></p>
              <p>Email:
                <!--Rounded switch -->
              <label class="switch">
                  <input type="checkbox">
                  <span class="slider round"></span>
                </label></p>
               <p>SMS:       
                <!--Rounded switch -->
              <label class="switch">
                  <input type="checkbox">
                  <span class="slider round"></span>
                </label></p>
                <br>
          <br>
        </div>
      </div>
    </div>
  </section>
</div>