<div class="app-main__inner">
  <section>
    <div class="container app-container-wrapper">
      <div class="row justify-content-center">
        <div class="col-lg-4">
          <div class="wrap">
            <div class="search">
              <input type="text" class="searchTerm" placeholder="Search Information">
              <button type="submit" class="searchButton">
                <i class="fa fa-search"></i>
              </button>
            </div>
          </div>
          <div></div><br><br>
          <b>Push Notifications: </b><br><br>
          <!--Rounded switch -->
          <label class="switch">
            <input type="checkbox">
            <span class="slider round"></span>
          </label><br>
          <b>App permisions: </b>
          <!--Rounded switch -->
          <label class="switch">
            <input type="checkbox">
            <span class="slider round"></span>
          </label><br>
          <b>Email: </b>
          <!--Rounded switch -->
          <label class="switch">
            <input type="checkbox">
            <span class="slider round"></span>
          </label><br>
          <b>SMS: </b>
          <!--Rounded switch -->
          <label class="switch">
            <input type="checkbox">
            <span class="slider round"></span>
          </label>
          <br>
        </div>
      </div>
    </div>
  </section>
</div>