<div class="app-main__inner">
    <div class="table-title">
        <div class="row">
          <div class="col-sm-6">
            <h2><b>Personal Goals</b></h2>
          </div>
        </div>
      </div>
    <br>
    <!-- <input type="text" id="myInput" onkeyup="myFunction()" placeholder="Search for users"> -->
    <!-- <h3 style="text-align: center;">User Management</h3> -->
    <div class="table-responsive">
         
        <table class="table">
            <thead class="thead-dark">
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Date</th>
                    <th scope="col">Step Count (steps)</th>
                    <th scope="col">Water Consumed (ounces)</th>
                    <th scope="col">Sleep Hours (hours)</th>
                    <th scope="col">Mindful Minutes (minutes)</th>
                    <th scope="col">Fruits Consumed (Number)</th>
                    <th scope="col">Vegetables Consumed (Number)</th>
                </tr>
            </thead>
            <tbody>
               
                    <tr>
                        
                        <td> 1 </td>
                        <td> 03/01/2021 </td>
                        <td> 2000 </td>
                        <td> 8 </td>
                        <td> 9 </td>
                        <td> 15 </td>
                        <td> 5 </td>
                        <td> 5 </td>
                        
                    </tr>

                    <tr>
                        
                        <td> 2 </td>
                        <td> 03/02/2021 </td>
                        <td> 2300 </td>
                        <td> 8 </td>
                        <td> 7 </td>
                        <td> 15 </td>
                        <td> 8 </td>
                        <td> 3 </td>
                        
                    </tr>


                    <tr>
                        
                        <td> 3 </td>
                        <td> 03/03/2021 </td>
                        <td> 1800 </td>
                        <td> 9 </td>
                        <td> 8 </td>
                        <td> 15 </td>
                        <td> 5 </td>
                        <td> 7 </td>
                        
                    </tr>

            </tbody>
        </table>
    </div>
</div>	
