<div class="app-main__inner">

    <div class="btn-group" role="group" aria-label="Basic example">
        <button type="button" onclick="location.href = '/availableGroups';" class="btn btn-secondary">Available
            Groups</button>
        <button type="button" onclick="location.href = '/joinedGroups';" class="btn btn-secondary">Joined
            Groups</button>
        <button type="button" onclick="location.href = '/createNewGroup';" class="btn btn-secondary">Create
            Group</button>
    </div>

    <div id="tab2" class="tab active">
        <h3>Joined Groups</h3>
        <ul class="list-group col-md-6 ">
            <% for( let i=0; i < joinedGroups.length; i++ ) { %>
        
                <form action="/leaveGroup/<%= joinedGroups[i].groupId %>" method="post"></form>
        
                <li class="list-group-item d-flex justify-content-between align-items-center">
                    <a href="joinedUsers/<%= joinedGroups[i].groupId %>">
                        <%= joinedGroups[i].groupName %>
                    </a>
                    <form action="/leaveGroup/<%= joinedGroups[i].groupId %> " method="post">
                        <input type="submit" class="btn btn-danger" value="Leave">
                </li>
        
                </form>
        
                <% } %>
        </ul>
    </div>
</div>
</div>