<div class="app-main__inner">

    <div>

        <div class="btn-group" role="group" aria-label="Basic example">
            <button type="button" onclick="location.href = '/availableGroups';" class="btn btn-secondary">Available
                Groups</button>
            <button type="button" onclick="location.href = '/joinedGroups';" class="btn btn-secondary">Joined
                Groups</button>
            <button type="button" onclick="location.href = '/createNewGroup';" class="btn btn-secondary">Create
                Group</button>
        </div>

        <div>
            <h1>Joined Users</h1>
        </div>

        <div>


                <table class="table col-md-4">
                    <thead class="thead-light">
                        <tr>
                            <th scope="col">UserId</th>
                            <th scope="col">User Name</th>
        
                        </tr>
                    </thead>
                    <tbody>
                        <% for( let i=0; i < joinedUsers.length; i++ ) { %>

                        <tr>
                            <th scope="row">
                                <%= joinedUsers[i].userId %>
                            </th>
                            <td>
                                <%= joinedUsers[i].userName %>
                            </td>
                        </tr>
        
                    </tbody>
                    <% } %>

                </table>

        </div>






    </div>
</div>