<div class="app-main__inner">
  <section>
    <div class="container app-container-wrapper">
      <div class="row justify-content-center">
        <div class="col-lg-4">
          <form method="POST" class="my-5">
            <div class="form-group">
              <%- include ('../partials/messages') %>
              <h2 class="d-flex justify-content-center py-3">
                Vegetables Consumed
              </h2>
            </div>
            <div class="form-row">
              <label for="dateText">Today's Date and Time : &nbsp; </label>
              <p id="demo"></p>
              <!-- <input  id="demo" class="form-control" /> -->
            </div>

            <script>
              let d = new Date();
              const months = [
                "JAN",
                "FEB",
                "MAR",
                "APR",
                "MAY",
                "JUN",
                "JUL",
                "AUG",
                "SEP",
                "OCT",
                "NOV",
                "DEC",
              ];
              let formatted_date =
                months[d.getMonth()] +
                "-" +
                d.getDate() +
                "-" +
                d.getFullYear() +
                "  " +
                d.getHours() +
                ":" +
                d.getMinutes() +
                ":" +
                d.getSeconds();
              document.getElementById("demo").innerHTML = formatted_date;
            </script>
            <div class="form-row">
              <label for="username">Number of Vegetables Consumed</label>
              <input
                type="number"
                id="veggies"
                name="veggies"
                class="form-control"
                placeholder="0"
                value="<%= typeof veggies != 'undefined' ? veggies : '' %>"
              />
            </div>
            <div class="form-row">
              <label for="password">Daily Goal</label>
              <input
                type="number"
                id="veggieGoal"
                name="veggieGoal"
                class="form-control"
                placeholder="0"
                value="<%= typeof veggieGoal != 'undefined' ? veggieGoal : '' %>"
              />
            </div>
            <div class="form-row"></div>

            <div class="form-row">
              <div class="col-lg-12">
                <button
                  type="submit"
                  class="btn btn-primary"
                  style="margin-top: 10px"
                >
                  Update
                </button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </section>
</div>
