<div class="app-main__inner">
    <div class="table-title">
        <div class="row">
          <div class="col-sm-6">
            <h2><b>Challenges</b></h2>
          </div>
        </div>
      </div>

    <div class="table-responsive">
         
        <table class="table">
            <thead class="thead-dark">
                <tr>
                    <th scope="col">Sl.No</th>
                    <th scope="col">Name</th>
                    <th scope="col">Description</th>
                    <th scope="col">Metrics</th>
                    <th scope="col">Start Date</th>
                    <th scope="col">End Date</th>
                    <th scope="col">Accept</th>
                    <th scope="col">Leave</th>
                </tr>
            </thead>
            <tbody>
               
                

            </tbody>
        </table>
    </div>
</div>	
