<div class="app-main__inner">
  <div class="form-group">
    <label class="col-md-4 control-label" for="Name (Full name)"> Name *</label>
    <!-- <div class="col-md-4"> -->
    <div class="input-group">
      <div class="input-group-addon">&nbsp;</div>
      <input id="Name (Full name)" class="form-control input-md" name="Name (Full name)" required="" type="text"
        placeholder="Full Name" />
    </div>
    <!-- </div> -->
  </div>
  <div class="form-group">
    <label class="col-md-4 control-label" for="Gender">Gender *</label>
    <!-- <div class="col-md-4"> -->
    <div class="input-group">
      <div class="input-group-addon">&nbsp;</div>
      <label class="radio-inline" for="Gender-0">
        <input type="radio" name="Gender" id="Gender-0" value="1" checked="checked">
        Female
      </label>
      <div class="input-group-addon">&nbsp;</div>
      <label class="radio-inline" for="Gender-1">
        <input type="radio" name="Gender" id="Gender-1" value="2">
        Male
      </label>
      <div class="input-group-addon">&nbsp;</div>
      <label class="radio-inline" for="Gender-2">
        <input type="radio" name="Gender" id="Gender-2" value="3">
        Other
      </label>
    </div>
    <!-- </div> -->
  </div>

  <label for="username">Date of Birth *</label>
  <!-- Reference: https://eonasdan.github.io/bootstrap-datetimepicker/ -->
  <div class='input-group date' id='datetimepicker1'>
    <input type='text' name="date" id="dateText" value="" />
    <span class="input-group-addon">
      <span class="glyphicon glyphicon-calendar"></span>
    </span>
  </div>

  <div class="form-group">

    <label for="exampleInputEmail1">Age *</label>
    <input id="dob" name="Date Of Birth" type="text" placeholder="Age" class="form-control input-md ">

  </div>
  <div class="form-group">
    <i class="fa fa-envelope-o"></i>
    <label for="exampleInputEmail1">Email Address *</label>
    <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp"
      placeholder="Enter your email address" required>
  </div>
  <div class="form-group">
    <label for="exampleInputEmail1">Current Weight</label>
    <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp"
      placeholder="Current weight in lbs">
  </div>

  <div class="form-group">
    <label for="exampleInputEmail1">Desired Weight</label>
    <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp"
      placeholder="Desired weight in lbs">
  </div>

  <div class="form-group">
    <label for="exampleInputEmail1">Height</label>
    <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp"
      placeholder="Height in Inches">
    <small id="emailHelp" class="form-text text-muted">Is essential to calculate your BMI.</small>
  </div>

  <div class="form-group">

    <p>
      <label>Average Activity Level *</label>
      <select id="myList">
        <option value="0">Choose</option>
        <option value="1">Sedentary</option>
        <option value="2">Lightly Active</option>
        <option value="3">Moderately Active</option>
        <option value="4">Very Active</option>
      </select>
      <small id="myList" class="form-text text-muted">Helps us understand your typical day.</small>
    </p>
    <table>
      <tr>
        <td>
          <p>
            <label>Country *</label>
            <select id="myList">
              <option value="0">Choose</option>
              <option value="1">India</option>
              <option value="2">USA</option>
              <option value="3">Denmark</option>
              <option value="4">Canada</option>
            </select>
          </p>
          <!-- https://www.technicalkeeda.com/html-tutorials/all-countries-drop-down-list-in-html
  refer to the above URL for dropdown code for countries -->
          <label>State *</label>
          <input id="myList" class="form-control input-md" type=text placeholder=" State" required>


          <label>Note: <small>This data is optional and will be used internally by admins only.</small></label>
        </td>

  </div>
  </tr>
  </table>
  <div class="form-row">
    <button type="submit" class="btn1">
      Update
    </button>
  </div>
</div>

