<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">


  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
    integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
  <!-- Date picker -->

  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.15.1/moment.min.js"></script>
  <link rel="stylesheet" type="text/css"
    href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/4.17.43/css/bootstrap-datetimepicker.min.css">
  <link rel="stylesheet" type="text/css"
    href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/4.17.43/css/bootstrap-datetimepicker-standalone.css">
  <script type="text/javascript"
    src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/4.17.43/js/bootstrap-datetimepicker.min.js">
    </script>
</head>

<body>
  <div class="app-main__inner">

    <div class="container-fluid col-md-6" >
      <form action="" method="POST">

        <div class="form-group">
          <label>Name</label>
          <input type="text" name="name" class="form-control" placeholder="Enter Full Name" required>
        </div>

        <div class="form-group">
          <label>Gender</label>

          <div class="input-group">
            <!-- <div class="input-group-addon">&nbsp;</div> -->
            <label class="radio-inline" for="Gender-0">
              <input type="radio" name="Gender" id="Gender-0" value="1" checked="checked">
              Female
            </label>
            <!-- <div class="input-group-addon">&nbsp;</div> -->
            <label class="radio-inline" for="Gender-1">
              <input type="radio" name="Gender" id="Gender-1" value="2">
              Male
            </label>
            <!-- <div class="input-group-addon">&nbsp;</div> -->
            <label class="radio-inline" for="Gender-2">
              <input type="radio" name="Gender" id="Gender-2" value="3">
              Other
            </label>
          </div>
        </div>

        <div class="form-group">
          <label for="start">Date of Birth</label>
          <input type="date" id="end" name="dob" placeholder="2020-07-22">
        </div>


        <div class="form-group">
          <label>Age</label>
          <input type="text" name="age" class="form-control" required>
        </div>

        <div class="form-group">
          <label>Email Address</label>
          <input type="email" name="email" class="form-control" required>
        </div>

        <div class="form-group">
          <label>Current Weight</label>
          <input type="number" step="0.1" name="currentWeight" class="form-control" required>
        </div>

        <div class="form-group">
          <label>Desired Weight</label>
          <input type="number" step="0.1" name="desiredWeight" class="form-control" required>
        </div>

        <div class="form-group">
          <label>Height</label>
          <input type="number" step="0.1" name="height" class="form-control" required>
          <small id="emailHelp" class="form-text text-muted">Is essential to calculate your BMI.</small>
        </div>

        <div class="form-group">
          <label>Average Activity Level *</label>
          <select id="myList">
            <option value="Sedentary">Sedentary</option>
            <option value="Lightly Active">Lightly Active</option>
            <option value="Moderately Active">Moderately Active</option>
            <option value="Very Active">Very Active</option>
          </select>
          <small id="myList" class="form-text text-muted">Helps us understand your typical day.</small>
        </div>

        <div class="form-group">
          <label>Country *</label>
          <select>
            <option value="India">India</option>
            <option value="USA">USA</option>
            <option value="Denmark">Denmark</option>
            <option value="Canada">Canada</option>
          </select>
        </div>

        <div class="form-group">
          <label>State *</label>
          <input class="form-control input-md" type=text placeholder="State" required>

          <label>Note: <small>This data is optional and will be used internally by admins only.</small></label>
        </div>

        <div class="form-group">
          <input type="submit" value="Update" name="update" class="btn btn-primary" >
        </div>
    </form>




  <!-- <script type="text/javascript">
    $(function () {
      $('#datetimepicker1').datetimepicker({
        format: 'MM/DD/YYYY'
      });
    });
  </script> -->


  <script src='https://kit.fontawesome.com/a076d05399.js'></script>
</body>

</html>