<div class="app-main__inner">

    <div class="tabs">
        <ul class="nav nav-tabs">

            <li class="nav-item">
                <a href="#activeChallenges" class="nav-link" role="tab" data-toggle="tab">Active</a>
            </li>

            <li class="nav-item">
                <a href="#availableChallenges" class="nav-link" role="tab" data-toggle="tab">Available</a>
            </li>

            <li class="nav-item">
                <a href="#completedChallenges" class="nav-link" role="tab" data-toggle="tab">Completed</a>
            </li>

            <li class="nav-item">
                <a href="#personalGoals" class="nav-link" role="tab" data-toggle="tab">Personal Goals</a>
            </li>
        </ul>

    </div>

    <!-- content for categories -->
    <div class="tab-content">


    <!-- Available challenges content -->
    <div role="tabpanel" class="tab-pane fade" id="availableChallenges">
        <h2><b>Available Challenges</b></h2>
        <table class="table table-hover ">
          <thead class="thead-dark">
            <tr>
              <th scope="col">#</th>
              <th scope="col">Name</th>
              <th scope="col">Type</td>
              <th scope="col">Description</th>
              <th scope="col">Actions</th>
            </tr>

            <tr>
                <td><span>1</span></td>
                <td><span>Walking Challenge </span></td>
                <td><span>Run 2 miles</span></td>
                <td><span>User needs to run 2 miles a day throughout the week</span></td>
                <td><button type="button" class="btn btn-primary" id="button">Accept</button></td>
            </tr>

            <tr>
                <td><span>2</span></td>
                <td><span>Calories Burned Challenge</span></td>
                <td><span>Only Veg</span></td>
                <td><span>User needs to eat only veg</span></td>
                <td><button type="button" class="btn btn-primary" id="button">Accept</button></td>
            </tr>

            <tr>
                <td><span>3</span></td>
                <td><span>Sports Challenge</span></td>
                <td><span>2 Gallons water</span></td>
                <td><span>User needs to drink 2 gallons of water everyday</span></td>
                <td><button type="button" class="btn btn-primary" id="button">Accept</button></td>
            </tr>

          </thead>
        </table>
</div>



        <!-- Content for Active challenges -->
    <div role="tabpanel" class="tab-pane fade in active" id="activeChallenges">
        <h2><b>Active Challenges</b></h2>
        <table class="table">
            <thead class="thead-dark">
              <tr>
                <th>Sl.No</th>
                <th>Name</th>
                <th>Description</th>
                <th></th>
              </tr>
            </thead>
            <tbody>
              <td><span>1</span></td>
        
              <td><span>Run 2 Miles </span></td>
        
              <td><span>run 2 miles a day throughout the week</span></td>
              <td><button id="button">Leave</button></td>
        
              <tr>
                <td><span>2</span></td>
        
                <td><span>Only veg </span></td>
        
                <td><span>eat only veg</span></td>
                <td><button id="button">Leave</button></td>
              </tr>
            </tbody>
          </table>  
    </div>


     
    </div>

  </div>
  