<div class="app-main__inner">
  <section>
    <div class="form-group">
      <%- include ('../partials/messages') %>
    </div>
    <h2 class="d-flex justify-content-center py-3">Today's Goals</h2>


    <div class="container app-container-wrapper">
      <div class="alert alert-warning text-center " id="alert_goal" role="alert">
        <strong> Today's Goal is not yet set ! Set today Goal below.</strong>
      </div>
      <h5 for="dateText">Today's Date and Time : &nbsp; <span id="demo"></span></h5>
      <div class="col-lg-12 col-md-12">
        <div class="col-md-12">
          <form method="POST">
            <div class="col-md-12">
            <div class="form-group">
              <label for="password">Enter entire todays goal! :</label>
              <input type="number" id="stepGoal" name="stepGoal" min="0" class="form-control" placeholder="0"
                value="<%= typeof stepGoal != 'undefined' ? stepGoal : '' %>" />
            </div>
            <div class="co-md-6">
              <button class="btn btn-primary">Lock Goal</button>
            </div>
          </div>
          <div class="col-md-12">
            <div class="form-row">
              <label for="username">Number of Steps:</label>
              <input type="number" id="stepCount" min="0" name="stepCount" class="form-control"
                oninput="stepConverter(this.id,this.value)" onchange="stepConverter(this.id,this.value)"
                value="<%= typeof stepCount != 'undefined' ? stepCount : '' %>" />
            </div>
            <div class="form-row">
              <label for="username">Total Walking Distance (in Miles):</label>
              <input type="number" id="stepDistance" min="0" name="stepDistance" placeholder="In miles"
                class="form-control" oninput="stepConverter(this.id,this.value)"
                onchange="stepConverter(this.id,this.value)"
                value="<%= typeof stepDistance != 'undefined' ? stepDistance : '' %>" />

              <script>
                function stepConverter(source, valNum) {
                  valNum = parseFloat(valNum);

                  var inputGrams = document.getElementById("stepCount");
                  var inputStones = document.getElementById("stepDistance");
                  if (source == "stepCount") {
                    inputStones.value = (valNum * 0.0005).toFixed(2);
                  }
                  if (source == "stepDistance") {
                    inputGrams.value = (valNum * 2000).toFixed(2);
                  }
                }
              </script>
            </div>
            <p>Note: Here 1 mile = 2000 steps</p>
              <div class="col-lg-12">
                <button type="submit" class="btn btn-md btn-primary" >
                  Update<i class="fa fa-pen-alt"></i>
                </button>
              </div>
          </div>
          </form>
          <div class="col-md-12">
            <h4>The goal reached currently: <label id="goal_amount">10</label></h4>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>
<script>
  let d = new Date();
  const months = [
    "JAN",
    "FEB",
    "MAR",
    "APR",
    "MAY",
    "JUN",
    "JUL",
    "AUG",
    "SEP",
    "OCT",
    "NOV",
    "DEC",
  ];
  let formatted_date =
    months[d.getMonth()] +
    "-" +
    d.getDate() +
    "-" +
    d.getFullYear() +
    "  " +
    d.getHours() +
    ":" +
    d.getMinutes() +
    ":" +
    d.getSeconds();
  document.getElementById("demo").innerHTML = formatted_date;
</script>