<div class="app-main__inner">
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-4 card" style="background-color:white;" onclick="location.href = '/activeChallenges';">
                <h4>Active Challenges</h4>
                <img src="assets/images/happyHealth/active.png" alt="user_stat">
                <button type="submit" class="btn btn-outline-secondary" >Active
                    Challenges: <%=  activeChallenges %></button>
            </div>
            <div class="col-sm-4 card" style="background-color:white;" onclick="location.href = '/userInvitations';">
                <h4>Invitations</h4>
                <img src="assets/images/happyHealth/invitations.png" alt="user_stat">
                <button type="submit" class="btn btn-outline-secondary"
                    >Invitations: <%= invitations %></button>
            </div>
            <div class="col-sm-4 card" style="background-color:white;" onclick="location.href = '/userScores';">
                <h4>Scores</h4>
                <img src="assets/images/happyHealth/scores.png" alt="challenge_mgmt">
                <button type="submit" class="btn btn-outline-secondary" >Scores: <%= scores %></button>
            </div>
            <div class="col-sm-4 card" style="background-color:white;" onclick="location.href = '#';">
                <h4>Success</h4>
                <img src="assets/images/happyHealth/success.jpg" alt="user_stat">
                <button type="submit" class="btn btn-outline-secondary" >Success <%=
                        success %></button>
            </div>
            
        </div>
    </div>
</div>
