<div class="app-main__inner">
  <section>
    <div class="container app-container-wrapper">
      <div class="row justify-content-center">
        <div class="col-lg-4">
          <form method="POST" class="my-5">
            <div class="form-group">
              <%- include ('../partials/messages') %>
              <h3 class="d-flex justify-content-center py-3">
                Physical Activity
              </h3>
            </div>
            <div class="form-row">
              <label for="dateText"> &nbsp; </label>
              <p id="demo"></p>
              <!-- <input  id="demo" class="form-control" /> -->
            </div>
          </form>
        </div>
      </div>
    </div>
  </section>
</div>
