<div class="app-main__inner">
    <!-- <div class="container-fluid"> -->
        
        <div class="tabs">
            <ul class="tabs-list">
               <li class="active">
                   <a href="#tab1">Joined Groups</a></li>
               <li ><a href="#tab2">Available Groups</a></li>
               <li ><a href="#tab3">Create Group<a/></li>
            </ul>
          
            <div id="tab1" class="tab active">
               <h3>Joined Groups</h3>

               <ul class="list-group col-md-6 ">
                <li class="list-group-item d-flex justify-content-between align-items-center">
                  Cras justo odio
                  <button type="submit" class="badge badge-danger badge-pill" >  Leave </button>
                </li>
                <li class="list-group-item d-flex justify-content-between align-items-center">
                  Dapibus ac facilisis in
                  <button type="submit" class="badge badge-danger badge-pill" >  Leave </button>
                </li>
                <li class="list-group-item d-flex justify-content-between align-items-center">
                  Morbi leo risus
                  <button type="submit" class="badge badge-danger badge-pill" >  Leave </button>
                </li>
              </ul>

            </div>

            <div id="tab2" class="tab">
              <h3>Available Groups</h3>


              <ul class="list-group col-md-6 ">
                <li class="list-group-item d-flex justify-content-between align-items-center">
                  Cras justo odio
                  <button type="submit" class="badge badge-primary badge-pill" >  Join </button>
                </li>
                <li class="list-group-item d-flex justify-content-between align-items-center">
                  Dapibus ac facilisis in
                  <button type="submit" class="badge badge-primary badge-pill" >  Join </button>
                </li>
                <li class="list-group-item d-flex justify-content-between align-items-center">
                  Morbi leo risus
                  <button type="submit" class="badge badge-primary badge-pill" >  Join </button>
                </li>
              </ul>


            </div>

            <div id="tab3" class="tab">
                <h3>Create Group</h3>

                <form class="col-md-6" >
                    <div class="form-group">
                      <label >Group Name</label>
                      <input type="text" class="form-control" placeholder="Enter Group Name">
                    </div>

                    <div class="form-group">
                      <label >Add Users</label>
                      <input type="Text" class="form-control" placeholder="Enter User Name">
                    </div>

                    <button type="submit" class="btn btn-primary">Submit</button>
                  </form>

              </div>

            <div id="tab4" class="tab">
              <h3>Manage Groups</h3>
            </div>
          
          </div>
    <!-- </div> -->
</div>



