<div class="app-main__inner">
  <section>
    <div class="container app-container-wrapper">
      <div class="row justify-content-center">
        <div class="col-lg-4">
          <form method="POST" class="my-5">
            <div class="form-group">
              <%- include ('../partials/messages') %>
              <h2 class="d-flex justify-content-center py-3">
                User Water Intake
              </h2>
            </div>
            <div class="form-row">
              <label for="dateText"> &nbsp; </label>
              <p id="demo"></p>
              <!-- <input  id="demo" class="form-control" /> -->
            </div>
            <script>
              let d = new Date();
              const months = [
                "January",
                "February",
                "March",
                "April",
                "May",
                "June",
                "July",
                "August",
                "September",
                "October",
                "November",
                "December",
              ];
              const dayNames = [
                "Sunday",
                "Monday",
                "Tuesday",
                "Wednesday",
                "Thursday",
                "Friday",
                "Saturday",
              ];
              let formatted_date =
                dayNames[d.getDay()] +
                ", " +
                months[d.getMonth()] +
                " " +
                d.getDate() +
                ", " +
                d.getFullYear();
              document.getElementById("demo").innerHTML = formatted_date;
            </script>

            <div class="form-row">
              <label for="username">Number of Ounces</label>
              <input
                type="number"
                id="water"
                min="0"
                name="water"
                class="form-control"
                placeholder="0"
                value="<%= typeof water != 'undefined' ? water : '' %>"
              />
            </div>
            <!-- <div class="form-row">
              <label>Ounces</label>
              <input id="inputOunce" min="0" class="form-control" type="number" placeholder="0"
                oninput="weightConverter(this.id,this.value)" onchange="weightConverter(this.id,this.value)"
                value="<%= typeof inputOunce != 'undefined' ? inputOunce : '' %>" />
            </div> -->
            <!-- <script>
              function weightConverter(source, valNum) {
                valNum = parseFloat(valNum);


                var inputGrams = document.getElementById("water");
                var inputStones = document.getElementById("inputOunce");
                if (source == "water") {

                  inputStones.value = (valNum * 8).toFixed(2);
                }
                if (source == "inputOunce") {

                  inputGrams.value = (valNum * 0.125).toFixed(2);
                }
              }
            </script> -->
            <div class="form-row">
              <label for="password">Personal Daily Goal</label>
              <input
                type="number"
                min="0"
                id="waterGoal"
                name="waterGoal"
                class="form-control"
                placeholder="0"
                value="<%= typeof waterGoal != 'undefined' ? waterGoal : '' %>"
              />
            </div>
            <!-- <p>Note: 1 Glass= 8 Ounces on average</p> -->
            <div class="form-row"></div>

            <div class="form-row">
              <div class="col-lg-12">
                <button
                  type="submit"
                  class="btn btn-primary"
                  style="margin-top: 10px"
                >
                  Update
                </button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </section>
</div>
