<div class="app-main__inner">
    <div class="container-fluid">
        
        <div class="row">
            <div class="col-sm-4 card" style="background-color:white;" onclick="location.href = '/activeChallenges'">
                <h4>Accepted Challenges</h4>
                <img src="/static/assets//images/happyHealth/active.png" alt="user_stat" class="homeImage">
            </div>
            <div class="col-sm-4 card" style="background-color:white;" onclick="location.href = '/availableChallenges'">
                <h4>Available Challenges</h4>
                <img src="/static/assets//images/happyHealth/Invitations.png" alt="user_stat"  class="homeImage">
            </div>
            <div class="col-sm-4 card" style="background-color:white;">
                <h4>Accomplished Challenges</h4>
                <img src="/static/assets//images/happyHealth/success.png" alt="user_stat"  class="homeImage">
            </div>
    
        </div>
    </div>
</div>
