<div class="app-main__inner">
  <section>
    <div class="container app-container-wrapper">
      <div class="row justify-content-center">
        <div class="col-lg-4">
          <form method="POST" class="my-5">
            <div class="form-group">
              <%- include ('../partials/messages') %>
                <h2 class="d-flex justify-content-center py-3">Sleep Hours</h2>
            </div>
            <div class="form-row">
              <label>Please enter the number of hours you slept.</label>
            </div>
            <div class="form-row">
              <label for="dateText"> Date</label>
              <p id="demo"></p>
              <input type="date" class="date form-control" id="datepicker1" name="datepicker1" placeholder="mm/dd/yyyy"
                min='1899-01-01'>
            </div>

            <div class="form-row">
              <label for="username">Number of Hours </label>
              <input type="number" id="sleepHours" min="0" step="0.01" name="sleepHours" class="form-control"
                placeholder="0" value="<%= typeof sleepHours != 'undefined' ? sleepHours : '' %>" />
            </div>
            <div class="form-row">
              <label for="password">Personal Daily Goal</label>
              <input type="number" id="sleepGoal" min="0" step="0.01" name="sleepGoal" class="form-control"
                placeholder="0" value="<%= typeof sleepGoal != 'undefined' ? sleepGoal : '' %>" />
            </div><div class="form-row"></div>
            <div class="form-row">
              <div class="col-lg-12">
                <button type="submit" class="btn btn-primary" style="margin-top: 10px">
                  Update
                </button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </section>
</div>
<script>

  let today = new Date();
  let dd = today.getDate();
  let mm = today.getMonth() + 1; //January is 0!
  let yyyy = today.getFullYear();
  if (dd < 10) {
    dd = '0' + dd
  }
  if (mm < 10) {
    mm = '0' + mm
  }

  today = yyyy + '-' + mm + '-' + dd;
  document.getElementById("datepicker1").setAttribute("max", today);
  document.getElementById("datepicker1").value = today;

  $("#datepicker1").on("change", function () {
      var date = document.getElementById("datepicker1").value;
      $.ajax({
        type: 'GET',
        url: 'userSleep/' + date,
        success: function (result) {
          document.getElementById("sleepHours").value = result.sleepHours;
          document.getElementById("sleepGoal").value = result.sleepGoal;
          //$('#champ').html(result);
        }
      });
  })
</script>