<div class="app-main__inner">
    <div class="container-fluid">
        
        <div class="row">
            
            <div class="col-sm-4 card" style="background-color:rgb(226, 116, 116);" onclick="location.href = '/availableChallenges'">
                <h4>Available Challenges</h4>
                <img src="/static/assets//images/happyHealth/Invitations.png" alt="user_stat"  class="homeImage">
            </div>
            
            <div class="col-sm-4 card" style="background-color:rgb(152, 120, 228);" onclick="location.href = '/activeChallenges'">
                <h4><strong>Accepted Challenges</strong></h4>
                <img src="/static/assets//images/happyHealth/bulb.png" alt="user_stat" class="homeImage">
            </div>
            
            <div class="col-sm-4 card" style="background-color:rgb(159, 216, 112);" onclick="location.href = '/completedChallenges'">
                <h4><strong>Completed Challenges</strong></h4>
                <img src="/static/assets//images/happyHealth/success.png" alt="user_stat"  class="homeImage">
            </div>

            <div class="col-sm-4 card" style="background-color:rgb(110, 235, 224);" onclick="location.href = '/personalGoals'">
                <h4>Personal Goals</h4>
                <img src="/static/assets//images/happyHealth/personalGoal.png" alt="user_stat"  class="homeImage">
            </div>
    
        </div>
    </div>
</div>
