<div class="app-main__inner">
  <section>
    <div class="container app-container-wrapper">
      <div class="row justify-content-center">
        <div class="col-lg-4">
          <form method="POST" class="my-5" action="userStep">
            <div class="form-group">
              <%- include ('../partials/messages') %>
              <h2 class="d-flex justify-content-center py-3">Step Count</h2>
            </div>
            <div class="form-row">
              <label for="dateText"> &nbsp; </label>
              <p id="demo"></p>
              <!-- <input  id="demo" class="form-control" /> -->
            </div>
            <div class="form-row">
              <label for="username">Number of Steps</label>
              <input
                type="number"
                id="stepCount"
                min="0"
                name="stepCount"
                class="form-control"
                placeholder="0"
                value="<%= typeof stepCount != 'undefined' ? stepCount : '' %>"
              />
            </div>

            <div class="form-row">
              <label for="password">Personal Daily Goal</label>
              <input
                type="number"
                min="0"
                id="stepGoal"
                name="stepGoal"
                class="form-control"
                placeholder="0"
                value="<%= typeof stepGoal != 'undefined' ? stepGoal : '' %>"
              />
            </div>

            <div class="form-row"></div>

            <div class="form-row">
              <div class="col-lg-12">
                <button
                  type="submit"
                  class="btn btn-primary"
                  style="margin-top: 10px"
                  onclick="myFunction()"
                >
                  Update
                </button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </section>
</div>
<script>
  function myFunction() {
    alert("Updated Step Count Successfully");
  }
</script>
