<div class="app-main__inner">
  <section>
    <div class="container app-container-wrapper">
      <div class="row justify-content-center">
        <div class="col-lg-4">
          <form method="POST" class="my-5">
            <div class="form-group">
              <%- include ('../partials/messages') %>
              <h2 class="d-flex justify-content-center py-3">
                Mindful Minutes
              </h2>
            </div>
            <div class="form-row">
              <label for="dateText"> Date</label>
              <input type="date" class="date form-control" id="datepicker1" name="datepicker1" placeholder="mm/dd/yyyy"
                min='1899-01-01'>
            </div>
            <div class="form-row">
              <label for="username">Number of mindful minutes</label>
              <input type="number" id="meTime" name="meTime" min="0" step="0.01" class="form-control" placeholder="0"
                value="<%= typeof meTime != 'undefined' ? meTime : '' %>" />
            </div>
            <div class="form-row">
              <label for="password">Personal Daily Goal</label>
              <input
                type="number"
                id="meTimeGoal"
                name="meTimeGoal"
                min="0"
                step="0.01"
                class="form-control"
                placeholder="0"
                value="<%= typeof meTimeGoal != 'undefined' ? meTimeGoal : '' %>"
              />
            </div>
          <div class="form-row"></div>
          
          <div class="form-row">
            <div class="col-lg-12">
              <button type="submit" class="btn btn-primary" style="margin-top: 10px">
                Update
              </button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </section>
</div>
<script>

  let today = new Date();
  let dd = today.getDate();
  let mm = today.getMonth()+1; //January is 0!
  let yyyy = today.getFullYear();
   if(dd<10){
          dd='0'+dd
      } 
      if(mm<10){
          mm='0'+mm
      } 
  
  today = yyyy+'-'+mm+'-'+dd;
  document.getElementById("datepicker1").setAttribute("max", today);
  document.getElementById("datepicker1").value=today;
  
  $("#datepicker1").on("change",function(){
    let date=document.getElementById("datepicker1").value;
    $.ajax({
          type: 'GET',
          url: 'userTrack/'+date,
          success: function(result) {
            document.getElementById("meTime").value=result.meTime;
            document.getElementById("meTimeGoal").value=result.meTimeGoal;
               //$('#champ').html(result);
          }
        });
  })
  </script>
