<div class="app-main__inner">
    <section>
        <div class="container app-container-wrapper">
            <div class="row justify-content-center">
                <div class="col-lg-4">
                    <form method="POST" class="my-5">
                        <div class="form-group">
                            <%- include ('./partials/messages') %>
                            <h2 class="d-flex justify-content-center py-3">Forgot Password?</h2>
                            <h5>
                                Enter your email address for verification.
                            </h5>

                        </div>
                        <div class="form-group">
                            <!-- <label for="email">Email-Id</label> -->
                            <input type="email" id="email" name="email" class="form-control"
                                placeholder="E-mail address" aria-describedby="emailHelp"
                                value="<%= typeof email != 'undefined' ? email : '' %>" required/>
                        </div>

                        <div class="form-group justify-content-between">
                            <input type="button" class="btn btn-danger" value="Cancel" onclick="location.href = '/';">
                            <input type="submit" class="btn btn-primary" value="Next">
                        </div>

                    </form>
                </div>
            </div>
        </div>
    </section>
</div>   