<p>App permisions</p>
  <!--Rounded switch -->
<label class="switch">
    <input type="checkbox">
    <span class="slider round"></span>
  </label>
  <p>Email</p>
  <!--Rounded switch -->
<label class="switch">
    <input type="checkbox">
    <span class="slider round"></span>
  </label>
  <p>SMS</p>
  <!--Rounded switch -->
<label class="switch">
    <input type="checkbox">
    <span class="slider round"></span>
  </label>
  <br>