.bg{
    background-color: dimgray;
    width: 100%;
    height: 100vh;
    background-size: 200%;
}

.form-container{
    position: absolute;
    top: 3vh;
    background: #fff;
    padding: 15px;
    border-radius: 10px;
    box-shadow: 12px 12px 22px;
}
h1{
    color: white;
    text-align: center;
}
h2{
    color: black;
    text-align: center;
}

a{
    display: block;
    text-align: right;
    text-decoration: none;
    color: dodgerblue;
    font-size: 0.9rem;
    transition: .3s;
}
.btn{
    background-color: darkgreen;
    color: white;
}
bgm1{
    float: right;
}
bgm{
    float: left;
}

@media only screen and (max-width: 678px) {
    .bg{
        background-size: 300%;
    }
}