<div class="app-main__inner">
	<section>
		<div class="container app-container-wrapper">
			<div class="row justify-content-center">
				<div class="col-lg-4">
					<form method="POST" class="form-container">
						<div class="form-group">
							<%- include ('./partials/messages') %>
								<h4 class="font-weight-bold py-3">Reset Password</h4>
								<h4>
									Enter new password
								</h4>

						</div>
						<div class="form-row mb-3">
							<!-- <label for="password">Password</label> -->
							<input type="password" id="password" name="password" class="form-control"
								placeholder="***************"
								value="<%= typeof password != 'undefined' ? password : '' %>" minlength="8"
								maxlength="15"
								pattern="^(?=.*[a-z])(?=.*[A-Z])(?=.*\d)(?=.*[@$!%*?&])[A-Za-z\d@$!%*?&]{8,}$"
								title="At least one uppercase letter, one lowercase letter, one number and one special character"
								required />
						</div>
						<h4>
							Confirm entered password
						</h4>
						<div class="form-row">
							<!-- <label for="password2">Confirm Password</label> -->
							<input type="password" id="password2" name="password2" class="form-control"
								placeholder="***************"
								value="<%= typeof password2 != 'undefined' ? password2 : '' %>" minlength="8"
								maxlength="15"
								pattern="^(?=.*[a-z])(?=.*[A-Z])(?=.*\d)(?=.*[@$!%*?&])[A-Za-z\d@$!%*?&]{8,}$"
								title="At least one uppercase letter, one lowercase letter, one number and one special character"
								required />
						</div>
						<div class="form-check mb-3">
							<input class="form-check-input" type="checkbox" value="" id="flexCheckDefault"
								onclick="toggleVisibility()">
							<label class="form-check-label" for="flexCheckDefault">
								Show Password
							</label>
						</div>

						<div>
							<input type="button" class="btn btn-danger" value="Cancel" onclick="location.href = '/';">
							<input type="submit" class="btn btn-primary" value="Update">
						</div>

					</form>
				</div>
			</div>
		</div>
	</section>
</div>

<script>
	function toggleVisibility() {
		let getPasword = document.getElementById("password");
		let getPasword2 = document.getElementById("password2");
		if (getPasword.type === "password") {
			getPasword.type = "text";
			getPasword2.type = "text";
		} else {
			getPasword.type = "password";
			getPasword2.type = "password";
		}
	}

</script>