extends layout

body
    .container
      .row
        .col-md-5.mx-auto.my-4
          .card.card-signup.z-depth-0
            .card-body.text-center
              
              h3.card-title Create an account
              p.slogan It's free and anyone can join!
              .md-form.mat-2
                input#username.form-control(type="text")
                label(for="username") Username
              .md-form.mat-2
                input#email.form-control(type="email")
                label(for="email") E-mail
              .md-form.mat-2
                input#password.form-control(type="password")
                label(for="password") Password
              .md-form.mat-2
                input#password2.form-control(type="password")
                label(for="password2") Password confirmation
              .card-foter.text-right
                button.btn.btn-outline-primary(type="button" style="width: 140px;") Sign up
block content