<!DOCTYPE html>
<html lang="en">

<head>
  <!-- <h1>welome user id </h1> -->
  <!-- Required meta tags-->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <!-- Bootstrap CSS-->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
    integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
  <link rel="stylesheet" href="./main.css">
  <title>User Login</title>
</head>
<body>
  <div class="app-container app-theme-white body-tabs-shadow fixed-sidebar fixed-header">
    <div class="app-header page header-shadow">
        <div class="app-header__logo justify-content-center">
            <img class="logo-src" src="./assets/images/happyHealth/Artboard.png" alt="">
            <div class="h3 m-0 ml-2">HappyHealth</div>
        </div>
    </div>
        <div class="app-main page">
            <div class="app-main__outer">
                <div class="app-main__inner">
                  <section>
                    <div class="container app-container-wrapper">
                      <div class="row justify-content-center">
                        <div class="col-lg-4">
                
                          <form action="/" method="POST" class="my-5">
                            <div class="form-group">
                              <h2 class="d-flex justify-content-center">Welcome user!</h2>
                              <%- include ('./partials/messages') %>
                            </div>
                            <div class="form-row">
                              <label for="username">Username</label>
                              <input type="text" id="username" name="username" class="form-control" placeholder="Username"
                                value="<%= typeof username != 'undefined' ? username : '' %>" />
                            </div>
                            <div class="form-row">
                              <label for="password">Password</label>
                              <input type="password" id="password" name="password" class="form-control" placeholder="**************"
                                value="<%= typeof password != 'undefined' ? password : '' %>" />
                            </div>
                            <div class="form-row justify-content-end">
                              <a class="my-2" href="/forgotPassword">Forgot password?</a>
                            </div>
                            <div class="form-row">
                              <button type="submit" class="btn btn-primary btn-block">
                                Sign in
                              </button>
                            </div>
                            <div class="form-row justify-content-between my-2">
                              <a href="adminLogin">Administrator</a>
                              <a href="userSignUp">Sign Up!</a>
                            </div>
                          </form>
                          <!-- <div class="col-lg-12 d-flex justify-content-between mt-3 mb-4"><a class="fab fa-facebook-f" i
                              href="https://en-gb.facebook.com/login/" target="_blank"> </a><a class="fab fa-twitter" i
                              href="https://twitter.com/login?lang=en" target="_blank"> </a><a class="fab fa-google-plus-g" i
                              href="https://mail.google.com" target="_blank"> </a></div> -->
                        </div>
                      </div>
                    </div>
                  </section>
                </div>    
                <div class="app-wrapper-footer">
                    <div class="app-footer">
                        <div class="copyright text-center bg-white py-4">
                            <i class="fa fa-copyright"></i> Copyright 2020, made by HappyHealth
                        </div>
                    </div>
                </div>    
            </div>
            <script src="http://maps.google.com/maps/api/js?sensor=true"></script>
    </div>
</div>
  <!-- JS files: jQuery first, then Popper.js, then Bootstrap JS -->
  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
    integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
    crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"
    integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN"
    crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"
    integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV"
    crossorigin="anonymous"></script>
</body>

</html>