<!DOCTYPE html>
<html lang="en">

<head>
  <!-- <h1>welome user id </h1> -->
  <!-- Required meta tags-->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <!-- Bootstrap CSS-->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
    integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
  <title>User Login</title>
</head>
<style>
  * {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }

  .app-container-wrapper {
    max-width: 450px;
  }

  .app-container-wrapper .row {
    background: inher;
    border-radius: none;
    box-shadow: none;
  }

  .row {
    background: white;
    border-radius: 30px;
    box-shadow: 12px 12px 22px;
  }

  img {
    border-bottom-left-radius: 30px;
    border-top-left-radius: 30px;
  }

  .btn1 {
    border: none;
    outline: none;
    height: 50px;
    width: 100%;
    background-color: rgb(20, 102, 24);
    color: white;
    border-radius: 4px;
    font-weight: bold;
  }

  .btn1.hover {
    background: white;
    border: 1px solid;
    color: rgb(20, 102, 24);
  }
</style>

<body>
  <section class="Form my-4 mx-2">
    <div class="container app-container-wrapper">
      <div class="row no-gutter">
        <!-- <div class="col-md-6 m-auto"> -->
        <div class="col-lg-12" px-5="" pt-5="">
          <h1 class="font-weight-bold py-3 mt-3">Happy Health</h1>
          <h2>Sign In</h2>
          <% include ./partials/messages %>
          <form action="/" method="POST">
            <div class="form-row">
              <label for="email">Email</label>
              <input type="email" id="email" name="email" class="form-control" placeholder="Email Id"
                value="<%= typeof email != 'undefined' ? email : '' %>" />
            </div>
            <div class="form-row">
              <label for="password">Password</label>
              <input type="password" id="password" name="password" class="form-control" placeholder="***********"
                value="<%= typeof password != 'undefined' ? password : '' %>" />
            </div>
            <div class="form-row"></div>
            <div class="col-lg-12"><a class="d-flex justify-content-end" href="#">Forgot password?</a></div>
            <div class="form-row">
              <div class="col-lg-12">
                <button type="submit" class="btn1 mt-3 mb-5">
                  Sign in
                </button>
              </div>
            </div>
          </form>
          <!-- <div class="col-lg-12 d-flex justify-content-between mt-3 mb-4"><a class="fab fa-facebook-f" i
              href="https://en-gb.facebook.com/login/" target="_blank"> </a><a class="fab fa-twitter" i
              href="https://twitter.com/login?lang=en" target="_blank"> </a><a class="fab fa-google-plus-g" i
              href="https://mail.google.com" target="_blank"> </a></div> -->
          <div class="col-lg-12 d-flex justify-content-between mb-5">
            <a href="adminLogin">Admin</a>
            <a href="userSignUp">Sign Up!</a></div>

          <!-- </div> -->
        </div>
      </div>
    </div>
  </section>

  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
    integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
    crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"
    integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN"
    crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"
    integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV"
    crossorigin="anonymous"></script>
</body>

</html>