<div class="app-main__inner">

    <div class="container-fluid col-md-8">
        <form action="/addChallenge" method="POST">
            <div class="form-group">
                <label>Name</label>
                <input type="text" name="name" class="form-control" required>
            </div>
            <div class="form-group">
                <label>Description</label>
                <input type="text" class="form-control" name="description" required></input>
            </div>

            <div class="form-group">
                <label for="adminChallengeType"> Challenge Type </label>
                <select class="form-select" name="adminChallengeType">
					<option value="Step Count">Step Count</option>
					<option value="Sleep Hours">Sleep Hours</option>
					<option value="Me Time">Me Time </option>
					<option value="Water"> Water </option>
					<option value="Fruits"> Fruits&Veggies </option>
					<option value="Physical Activity">Physical Activity</option>
                </select>
            </div>

			<!-- <div class="form-group">
				<label for="invitation">Invite Users</label>
				<select name="userId" class="form-control addUser">
						<option selected = "Abhi" value="Abhi">Abhi
						</option>
						<option selected = "Bobby" value="Bobby">Bobby
						</option>
						<option selected = "Charlie" value="Charlie">Charlie
						</option>
				</select>
			</div>
			 -->
            <!-- <div class="form-group">
                <label for="partcipantType"> Participant Type </label>
                <select class="form-select" name="participantType">
                    <option value="Group"> Group </option>
                    <option value="Individual"> Individual </option>
                </select>
            </div> -->
<!-- 
            <div class="form-group">
                <label>Participant Count</label>
                <input type="number" name="participantCount" min="0" class="form-control" required>
            </div> -->


            <div class="form-group">
                <label for="start">Start date:</label>
                <input type="date" id="start" name="startDate" placeholder="2020-07-20">
            </div>

            <div class="form-group">
                <label for="start">End date:</label>
                <input type="date" id="end" name="endDate" placeholder="2020-07-22">
            </div>

            <div>
                <input type="submit" value="submit" class="btn btn-primary btn-sm">
            </div>
        </form>
    </div>

</div>