<div class="app-main__inner">

    <div class="container-fluid col-md-6">
        <form action="/addChallenge" method="POST">
            <div class="form-group">
                <label>Name</label>
                <input type="text" name="name" class="form-control" required>
            </div>
            <div class="form-group">
                <label>Description</label>
                <input type="text" class="form-control" name="description" required></input>
            </div>

            <!-- Under Construction -->
            
            <div>
                <input type="submit" value="submit" class="btn btn-primary btn-sm">
            </div>
        </form>
    </div>

</div>