<div class="app-main__inner">


<form action="/addUser" method="post">

    <label for="addingUser"> Select User </label>

    <select name="addingUser">
        <% for(var i=0; i < result.length; i++) { %>
            <option value=" <%= result[i].userId %> ">
                <%= result[i].userName %>
            </option>
            <% } %>
    </select>

    <input type="submit" value="Add" onclick="myFunction()"> </input>

</form>



</div>
<script>
    function myFunction() {
      alert("Added User successfully");
    }
  </script>