<div class="app-main__inner">

    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-4" style="background-color:white;">
                <h4>Step</h4>
                <img src="/static/assets/images/happyHealth/step.png" alt="user_stat">
                <button type="submit" class="btn btn-outline-secondary"
                    onclick="location.href = '/adminAnalyticsStep';">step analytics</button>
            </div>
            <div class="col-sm-4" style="background-color:white;">
                <h4>Sleep</h4>
                <img src="/static/assets/images/happyHealth/sleep.jpg" alt="user_stat">
                <button type="submit" class="btn btn-outline-secondary"
                    onclick="location.href = '/adminAnalyticsSleep';">sleep Analytics</button>
            </div>
            <div class="col-sm-4" style="background-color:white;">
                <h4>Water intake</h4>
                <img src="/static/assets/images/happyHealth/water.png" alt="challenge_mgmt">
                <button type="submit" class="btn btn-outline-secondary"
                    onclick="location.href = '/adminAnalyticsWater';">water intake analytics</button>
            </div>

            <div class="col-sm-4" style="background-color:white;">
                <h4>Track-me-time</h4>
                <img src="/static/assets/images/happyHealth/meditation.png" alt="user_stat">
                <button type="submit" class="btn btn-outline-secondary"
                    onclick="location.href = '/adminAnalyticsMeditation';">track-me-time
                    analytics</button>
            </div>

            <div class="col-sm-4" style="background-color:white;">
                <h4>Fruits Intake</h4>
                <img src="/static/assets/images/happyHealth/fruits.png" alt="user_fruits">
                <button type="submit" class="btn btn-outline-secondary"
                    onclick="location.href = '/adminAnalyticsFruits';">Fruits
                    intake analytics </button>
            </div>

            <div class="col-sm-4" style="background-color:white;">
                <h4>Vegetables Intake</h4>
                <img src="/static/assets/images/happyHealth/vegetable.png" alt="user_vegetables">
                <button type="submit" class="btn btn-outline-secondary"
                    onclick="location.href = '/adminAnalyticsVegetables';">Vegetables
                    intake analytics</button>
            </div>
        </div>
    </div>
</div>