
 <h1>Push Notifications</h1>
 <form action="/action_page.php">
    <label for="Entermessage">Enter a message</label><br>
    <input type="text" id="Entermessage" name="Entermessage" placeholder="Enter message here" align="middle"><br>
</form>
<button class="button button1">Green</button>