<div class="app-main__inner">
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-4" style="background-color:white;">
                <h4>User Management</h4>
                <img src="assets/images/happyHealth/userColorIcon.png" alt="user_stat">
                <button type="submit" class="btn btn-outline-secondary"
                    onclick="location.href = '/userManagement';">Manage users</button>
            </div>
            <div class="col-sm-4" style="background-color:white;">
                <h4>Group Management</h4>
                <img src="assets/images/happyHealth/groupCrop.jpg" alt="user_stat">
                <button type="submit" class="btn btn-outline-secondary"
                    onclick="location.href = '/groupManagement';">Manage Groups</button>
            </div>
            <div class="col-sm-4" style="background-color:white;">
                <h4>Challenge Management</h4>
                <img src="assets/images/happyHealth/chMgmt.PNG" alt="challenge_mgmt">
                <button type="submit" class="btn btn-outline-secondary" onclick="window.location.href = '/challengeManagement'">Challenge Management</button>
            </div>

            <div class="col-sm-4" style="background-color:white;">
                <h4>Analytics</h4>
                <img src="assets/images/happyHealth/statistics.png" alt="user_stat">
                <button type="submit" class="btn btn-outline-secondary"
                    onclick="location.href = '/adminAnalytics';">User analytics</button>
            </div>
        </div>
    </div>
</div>