<div class="app-main__inner">

    <form action="/postAnnouncement" method="POST" >
    

    <div class="form-row">
        <div class="col-sm-6">
            <h4><b>New Message Title:</b></h4>
        </div>
        <div class="col-sm-6">
            <input id="title" type="text" name="title" >
        </div>
    </div>
    <div class="form-row">
        <div class="col-sm-6">
            <h4><b>Write Message:</b></h4>
        </div>
        <div class="col-sm-6">
            <input id="message" type="text" name="description">
        </div>
    </div>
    <div class="form-row">
        <div class="col-sm-12">
                <input type="submit" id="PopoverCustomT-1" value="Post to Everyone"
                    class="btn btn-sm btn-md btn-danger" onclick="published()"></input>
        </div>
    </div>

</form>

</div>

<script>
    function published(){
        alert("Announcement Posted");
    }
</script>