<div class="app-main__inner">

    <section>
        <form action ="/adminAnnouncements" method="post" >
            <h2>Announcements</h2>
            <br><br>
                <label for="fname">Enter Message:</label>
                <input type="text" id="fname" name="fname"><br><br>
                <button class="button button1">Post Announcement</button>
                <button class="button button2">Edit Announcement</button>
                       </form>
    </section>

</div>