<div class="app-main__inner">
  <section>
    <div class="container app-container-wrapper">
      <div class="row justify-content-center">
        <div class="col-lg-4 my-5">
          <form
            action="/adminLogin"
            method="POST"
            class="form-container"
          >
            <div class="form-group">
              <h2>Welcome Administrator!</h2>
              <%- include ('../partials/messages') %>
            </div>
            <div class="form-row">
              <label for="username">Username</label>
              <input
                type="text"
                id="username"
                name="username"
                class="form-control"
                placeholder="username"
                value="<%= typeof username != 'undefined' ? username : '' %>"
              />
            </div>
            <div class="form-row">
              <label for="password">Password</label>
              <input
                type="password"
                id="password"
                name="password"
                class="form-control"
                placeholder="**************"
                value="<%= typeof password != 'undefined' ? password : '' %>"
              />
            </div>
            <div class="form-row justify-content-end my-2">
              <a href="/forgotPassword">Forgot password?</a>
            </div>
            <div class="form-row">
              <button type="submit" class="btn btn-primary btn-block">
                Sign in
              </button>
            </div>
            <div class="form-row d-flex justify-content-start my-2">
              <a href="/">Not Administrator?</a>
            </div>
          </form>
        </div>
      </div>
    </div>
  </section>
</div>