<div class="app-main__inner">

    <section>
        <form action ="/adminAnnouncements" method="post" >
            <h2>Announcements</h2>
            <br><br>
                <label for="fname">Enter Message:</label>
                <input type="text" id="fname" name="fname"><br><br>
                <button class="button button1">Post to Everyone</button>
                <button class="button button2">Post to Admins Only</button>
                <button class="button button3">Post to Users Only</button>
                <button class="button button4">Post to Individual Admin</button>
                <button class="button button5">Post to Individual User</button>
        </form>
    </section>

</div>