<div class="app-main__inner">
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-4 card" style="background-color: rgb(192, 247, 192);" onclick="location.href = '/userManagement';">
                <h4>User Management</h4>
                <img src="/static/assets//images/happyHealth/userColorIcon.png" alt="user_stat">
                <button type="submit" class="btn btn-outline-secondary">Manage users</button>
            </div>
            <div class="col-sm-4 card" style="background-color: rgb(164, 164, 226);" onclick="location.href = '/groupManagement';">
                <h4>Group Management</h4>
                <img src="/static/assets//images/happyHealth/groupCrop.jpg" alt="user_stat">
                <button type="submit" class="btn btn-outline-secondary">Manage Groups</button>
            </div>
            <div class="col-sm-4 card" style="background-color: rgb(95, 212, 144);"
                onclick="window.location.href = '/challengeManagement'">
                <h4>Challenge Management</h4>
                <img src="/static/assets//images/happyHealth/chMgmt.PNG" alt="challenge_mgmt">
                <button type="submit" class="btn btn-outline-secondary">Challenge Management</button>
            </div>

            <div class="col-sm-4 card" style="background-color: rgb(109, 223, 119);" onclick="location.href = '/adminAnalytics';">
                <h4>Analytics</h4>
                <img src="/static/assets//images/happyHealth/statistics.png" alt="user_stat">
                <button type="submit" class="btn btn-outline-secondary">User analytics</button>
            </div>
        </div>
    </div>
</div>