<div class="app-main__inner">

    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-4 card" style="background-color:white;" onclick="location.href = '/adminAnalyticsStep';">
                <h4>Step</h4>
                <img src="assets/images/happyHealth/step.png" alt="user_stat">
                <button type="submit" class="btn btn-outline-secondary"
                    >step analytics</button>
            </div>
            <div class="col-sm-4 card" style="background-color:white;" onclick="location.href = '/adminAnalyticsSleep';">
                <h4>Sleep</h4>
                <img src="assets/images/happyHealth/sleep.jpg" alt="user_stat">
                <button type="submit" class="btn btn-outline-secondary"
                    >sleep Analytics</button>
            </div>
            <div class="col-sm-4 card" style="background-color:white;" onclick="location.href = '/adminAnalyticsWater';">
                <h4>Water intake</h4>
                <img src="assets/images/happyHealth/water.png" alt="challenge_mgmt">
                <button type="submit" class="btn btn-outline-secondary"
                    >water intake analytics</button>
            </div>

            <div class="col-sm-4 card" style="background-color:white;" onclick="location.href = '/adminAnalyticsMeditation';">
                <h4>Track-me-time</h4>
                <img src="assets/images/happyHealth/meditation.png" alt="user_stat">
                <button type="submit" class="btn btn-outline-secondary"
                    >track-me-time
                    analytics</button>
            </div>

            <div class="col-sm-4 card" style="background-color:white;" onclick="location.href = '/adminAnalyticsFruits';">
                <h4>Fruits Intake</h4>
                <img src="assets/images/happyHealth/fruits.png" alt="user_fruits">
                <button type="submit" class="btn btn-outline-secondary"
                    >Fruits
                    intake analytics </button>
            </div>

            <div class="col-sm-4 card" style="background-color:white;" onclick="location.href = '/adminAnalyticsVegetables';">
                <h4>Vegetables Intake</h4>
                <img src="assets/images/happyHealth/vegetable.png" alt="user_vegetables">
                <button type="submit" class="btn btn-outline-secondary"
                    >Vegetables
                    intake analytics</button>
            </div>
        </div>
    </div>
</div>  