<div class="app-main__inner">

    <section>
        <form action ="/adminAnnouncements" method="post" >
            <h1>Announcements</h1>
            <br><br>
            <center>
                <label for="fname">Enter Message:</label>
                <input type="text" id="fname" name="fname"><br><br>
                <button class="button button1">Save</button></center>
        </form>
    </section>

</div>