<div class="app-main__inner">
  <section>
    <div class="container app-container-wrapper">
      <div class="row justify-content-center">
        <div class="col-lg-4 my-5">
          <form action="/adminLogin" method="POST" class="form-container">
            <div class="form-group">
              <h2 style="color:green;">Welcome Administrator!</h2>
              <%- include ('../partials/messages') %>
            </div>
            <div class="form-row">
              <label for="username" class="mb-0">Admin Username</label>
              <input type="text" id="username" name="username" class="form-control" placeholder="Admin username"
                value="<%= typeof username != 'undefined' ? username : '' %>" />
            </div>
            <div class="form-row">
              <label for="password">Password</label>
              <input type="password" class="form-control" name="password"
                value="<%= typeof password != 'undefined' ? password : '' %>" id="password">
            </div>
            <div class="form-check">
              <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault" onclick="toggleVisibility()">
              <label class="form-check-label" for="flexCheckDefault">
                Show Password
              </label>
            </div>


            <div class="form-row justify-content-end mb-2">
              <a href="/forgotPassword">Forgot password?</a>
            </div>
            <div class="form-row">
              <button type="submit" class="btn btn-primary btn-block">
                Sign in
              </button>
            </div>
            <div class="form-row d-flex justify-content-start my-2">
              <a href="/">Not Administrator?</a>
            </div>
          </form>
        </div>
      </div>
    </div>
  </section>
</div>


<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css">
<link rel="stylesheet" href="css/style.css">

<script>
  function toggleVisibility() {
    var getPasword = document.getElementById("password");
    if (getPasword.type === "password") {
      getPasword.type = "text";
    } else {
      getPasword.type = "password";
    }
  }  
</script>