<div class="app-main__inner">

    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-3 card" style="background-color:hsla(0, 100%, 90%, 0.3);" onclick="location.href = '/adminAnalyticsStep';">
                <h4>Step</h4>
                <img src="/static/assets/images/happyHealth/step.png" alt="user_stat">
                <button type="submit" class="btn btn-outline-secondary"
                    ><b>step analytics</b></button>
            </div>
            <div class="col-sm-3 card" style="background-color:#d8dadb;" onclick="location.href = '/adminAnalyticsSleep';">
                <h4>Sleep</h4>
                <img src="/static/assets/images/happyHealth/sleep.jpg" alt="user_stat">
                <button type="submit" class="btn btn-outline-secondary"
                    ><b>sleep Analytics</b></button>
            </div>
            <div class="col-sm-3 card" style="background-color:#c2dfff;" onclick="location.href = '/adminAnalyticsWater';">
                <h4>Water intake</h4>
                <img src="/static/assets/images/happyHealth/water.png" alt="challenge_mgmt">
                <button type="submit" class="btn btn-outline-secondary"
                    ><b>water intake analytics</b></button>
            </div>

            <div class="col-sm-3 card" style="background-color:#fcd999;" onclick="location.href = '/adminAnalyticsMeditation';">
                <h4>Track-me-time</h4>
                <img src="/static/assets/images/happyHealth/meditation.png" alt="user_stat">
                <button type="submit" class="btn btn-outline-secondary"
                    ><b>track-me-time
                    analytics</b></button>
            </div>

            <div class="col-sm-3 card" style="background-color: #e5ffcc;" onclick="location.href = '/adminAnalyticsFruits';">
                <h4>Fruits Intake</h4>
                <img src="/static/assets/images/happyHealth/fruits.png" alt="user_fruits">
                <button type="submit" class="btn btn-outline-secondary"
                    ><b>Fruits
                    intake analytics</b> </button>
            </div>

            <div class="col-sm-3 card" style="background-color: #98ff98;" onclick="location.href = '/adminAnalyticsVegetables';">
                <h4>Vegetables Intake</h4>
                <img src="/static/assets/images/happyHealth/vegetable.png" alt="user_vegetables">
                <button type="submit" class="btn btn-outline-secondary"
                    ><b>Vegetables intake analytics</b></button>
            </div>

            <div class="col-sm-3 card" style="background-color:rgb(236, 191, 161);" onclick="location.href = '/adminAnalyticsOverAll';">
                <h4>OverAll Metrics</h4>
                <img src="/static/assets//images/happyHealth/statistics.png" alt="user_metrics">
                <button type="submit" class="btn btn-outline-secondary"
                    ><b>Overall user analytics</b></button>
            </div>
        </div>
    </div>
</div>