<div class="app-main__inner">

    <h1> Successfully downloaded</h1>
    <a href=/files/usermetrics_mysql_fastcsv.csv download='usermetrics_mysql_fastcsv.csv' id='download-link'>dowload</a>
    <script>document.getElementById('download-link').click();</script>
</div>