<div class="app-main__inner">

    <form action="/updateGroup/<%= result[0].groupId%>" method="post">
        <div class="form-row">
            <div class="col-md-4 mb-3">
                <label for="validationDefault01">Group name</label>
                <input type="text" name="groupName" class="form-control" id="groupName" placeholder="Group name"
                    value="<%= result[0].groupName%>" required>
            </div>
            <div class="col-md-4 mb-3">
                <label for="validationDefault02">Creator</label>
                <input type="text" name="creator" class="form-control" id="creatorName" placeholder=""
                    value="<%= result[0].creator%>" required>
            </div>

            <div class="col-md-4 mb-3">
                <label for="validationDefault03">Created Date</label>
                <input type="text" name="createdDate"  onfocus="(this.type='date')" onblur="(this.type='text')" 
                    class="form-control" value="<%= result[0].createdDate  %>" required>
            </div>


        </div>
        <button class="btn btn-primary" type="submit">Update Group</button>
    </form>


</div>