<div class="app-main__inner">




    <% if ( challengeData[0].participantType=='Group' ) { %>
        <div>
            <h1> <b>Manage Groups</b> </h1>
            <h2>Challenge Name : <%= challengeData[0].challengeName %>
            </h2>
            <h3>Particiapnt Type: <%= challengeData[0].participantType %>
            </h3>

        </div>

        <form>
            <label for="user"> Select Groups: </label>

            <div class="form-group">
                <select class="selectpicker">
                    <option selected>Avengers</option>
                    <option>Champions</option>
                    <option>Legends</option>
                    <option>Bosses</option>
                    <option>Power Rangers</option>
                    <option>Thunder Guys</option>
                </select>

            </div>
            <input type="submit" value="Add"> </input>
        </form>

        <table class="table">
            <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Group Name</th>
                    <th scope="col">Edit</th>
                    <th scope="col">Delete</th>

                </tr>
            </thead>
            <tbody>
                <tr>
                    <th scope="row">1</th>
                    <td>Delta Blues</td>
                    <td> <button type="button" class="btn btn-primary">Edit</button></td>
                    <td> <button type="button" class="btn btn-danger">Delete</button></td>
                </tr>

                <tr>
                    <th scope="row">2</th>
                    <td>Golden Archers</td>
                    <td> <button type="button" class="btn btn-primary">Edit</button></td>
                    <td> <button type="button" class="btn btn-danger">Delete</button></td>
                </tr>

                <tr>
                    <th scope="row">3</th>
                    <td>Little Colonels</td>
                    <td> <button type="button" class="btn btn-primary">Edit</button></td>
                    <td> <button type="button" class="btn btn-danger">Delete</button></td>
                </tr>

            </tbody>
        </table>

        <% } else { %>

            <div>
                <h1> <b>Manage Users</b> </h1>
                <h2>Challenge Name : <%= challengeData[0].challengeName %>
                </h2>
                <h3>Particiapnt Type: <%= challengeData[0].participantType %>
                </h3>
            </div>

            <form>
                <label for="user"> Select Users: </label>

                <div class="form-group">
                    <select class="selectpicker">
                        <option selected>Adam</option>
                        <option>Evan</option>
                        <option>Skyler</option>
                        <option>Tyler</option>
                        <option>Bob</option>
                        <option>Rogers</option>
                    </select>

                </div>
                <input type="submit" value="Add"> </input>
            </form>

            <table class="table">
                <thead>
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">User Name</th>
                        <th scope="col">Edit</th>
                        <th scope="col">Delete</th>

                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <th scope="row">1</th>
                        <td>Rajesh</td>
                        <td> <button type="button" class="btn btn-primary">Edit</button></td>
                        <td> <button type="button" class="btn btn-danger">Delete</button></td>
                    </tr>

                    <tr>
                        <th scope="row">2</th>
                        <td>Suresh</td>
                        <td> <button type="button" class="btn btn-primary">Edit</button></td>
                        <td> <button type="button" class="btn btn-danger">Delete</button></td>
                    </tr>

                    <tr>
                        <th scope="row">3</th>
                        <td>Himesh</td>
                        <td> <button type="button" class="btn btn-primary">Edit</button></td>
                        <td> <button type="button" class="btn btn-danger">Delete</button></td>
                    </tr>

                </tbody>
            </table>

            <% } %>


</div>